:root {
  --HUMANIST: 'Seravek', 'Calibri', 'Roboto', 'Arial', 'sans-serif';
  --CANVAS_SIZE: calc(min(90vh, 90vw));
}

html {
  font-size: 1rem;
  font-family: var(--HUMANIST);
  color: #EEEEEE;
}

body {
  overflow: hidden;
}

.horizontal-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 20px;
}

.vertical-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

canvas {
  border: 1px solid white;
  width: var(--CANVAS_SIZE);
  height: var(--CANVAS_SIZE);
}

#center-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#center-ui {
  position: relative;
}

.center-arrow-container {
  position: relative;
  pointer-events: none;
}

.center-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  top: -20px;
}

#help-id {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid grey;
}

@media (min-aspect-ratio: 700/800) and (max-aspect-ratio: 760/800) {
  :root {
    --CANVAS_SIZE: calc(min(80vh, 80vw));
  }
}

@media (min-aspect-ratio: 760/800) and (max-aspect-ratio: 980/800) {
  :root {
    --CANVAS_SIZE: calc(min(70vh, 70vw));
  }
}

@media (min-aspect-ratio: 980/800) and (max-aspect-ratio: 1066/800) {
  :root {
    --CANVAS_SIZE: calc(min(60vh, 60vw));
  }
}

@media (max-aspect-ratio: 4/3) {
  .horizontal-container {
    flex-direction: column;
    height: 100vh;
    width: auto;
  }

  .vertical-container {
    flex-direction: row;
    width: 100vw;
    height: auto;
  }
}