#all-colors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.single-color {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-color:hover {
  background-color: grey;
}

.color-preview {
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  margin-left: 5px;
}

.color-preview-wrapper {
  display: none;
  position: absolute;
  height: 100vh;
  top: 0;
}

.color-preview-image {
  position: absolute;
  right: 35px;
  top: 40%;
  background: white;
  padding: 5px;
}

.single-color:hover .color-preview-wrapper {
  display: block;
}

@media (max-aspect-ratio: 4/3) {
  #all-colors {
    flex-direction: row;
    max-height: auto;
    max-width: 100%;
  }

  .color-preview-wrapper {
    display: none !important;
  }
}