#all-paths-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  flex-basis: auto;
}

#all-paths {
  overflow-y: scroll;
  padding: 5px;
  padding-right: 10px;
  height: 100%;
}

.single-path-input {
  display: flex;
  flex-direction: row;
  gap: 2px
}

.single-path-input input {
  max-width: 125px;
}

.single-path {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.single-path:hover {
  background-color: #111;
}

.path-selected {
  outline: 1px solid grey;
  background-color: #111;
}

.path-color-preview {
  min-width: 5px;
  min-height: 5px;
}

@media (max-aspect-ratio: 4/3) {
  #all-paths-container #all-paths {
    overflow-y: auto;
    overflow-x: scroll;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
  }
}

.tab {
  display: flex;
  border: 1px solid grey;
  align-content: center;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}

.tab button:hover {
  background-color: #111;
}

.tab button.active {
  background-color: grey;
}

.tab-length {
  padding-left: 5px;
  font-size: 0.6rem;
}