#settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  height: 100%;
}

#settings-items {
  overflow-y: scroll;
  height: 100%;
  padding-right: 15px;
  /* For scroll bar. */
}

.single-setting-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.single-setting-item input[type='number'] {
  max-width: 75px;
}