#all-tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;

  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.tool-checkbox {
  margin-right: 10px;
}

.tool-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tool-sub-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tool-q {
  width: 25px;
  height: 25px;
}