#right-side-ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: var(--CANVAS_SIZE);
}

#left-side-ui {
  height: var(--CANVAS_SIZE);
}

@media (max-aspect-ratio: 4/3) {
  #left-side-ui {
    height: auto;
    width: var(--CANVAS_SIZE);
  }

  #right-side-ui {
    height: auto;
    width: var(--CANVAS_SIZE);
  }
}

.Modal {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  padding: 20px;
  background-color: black;
  height: 50vh;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}